<h2 style="text-align:center">Sign Up</h2>
<div class="form">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="field">
  <label class="label">Email</label>
    <div class="control">  
    <%= f.input :email, required: true, autofocus: true , input_html: { autocomplete: "email" }%>
    </div>
  </div>  
  <div class="field">
  <label class="label">Password</label>
    <div class="control">  
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
    </div>
  </div> 

  <div class="field">
  <label class="label">Password Confirmation</label>
    <div class="control">  
    <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
    </div>
  </div> 


  <div class="field is-grouped  is-grouped is-grouped-centered">
    <%= f.button :submit, "Sign up", class:" button is-primary" %>
    <p class="control"><%= render "devise/shared/links" %></p>
  </div>

<% end %>

</div>