<br/><br/><br/><br/>
<div class="columns">
<%= simple_form_for(@invoice) do |f| %>
  <div id="wrap">
    <%= f.error_notification %>
    <div class="row">
      <div class="columns" style="width:100%">
        <div class="column is-four-fifths is-size-2"> INVOICE</div>
        <div id="date" class="column is-size-5 has-text-right" style="margin-top:2%;"></div>
       </div> 
    </div>
    <hr>
    <br/>
    <div class="row">
      <div class="column is-one-third">
        <strong>From</strong>
        <address>
          <%= f.input_field :company, class: "form-control", id: "1", placeholder:"Company Name..." %>
          <input class="form-control" id= "2"  placeholder="address line 1" />
          <input class="form-control" id= "3"  placeholder="address line 2" />
          <input class="form-control" id= "4"  placeholder="phone number" />
        </address>
      </div>
      <div class="column is-one-third">
        <strong>To</strong>
        <address>
          <%= f.input_field :client, class: "form-control", id: "5", placeholder:"Client..."%>
          <input class="form-control" id= "6"  placeholder="address line 1" />
          <input class="form-control" id= "7"  placeholder="address line 2" />
          <input class="form-control" id= "8"  placeholder="phone number" />
        </address>
      </div>
      <div class="column is-one-third">
        <form class="form-horizontal">
          <div class="form-group">
            <div><label><strong>Invoice no.</strong> <%= (Invoice.last.present? ? (Invoice.last.id + 1) : 1) %></label></div>
          </div>
          <div class="form-group">
          <%= f.label :due_date, required: false %>
            <div><%= f.date_field :date, class: "form-control datepicker", as: :string, id: "invoice_date" %></div>
          </div>

          <div class="form-group">
            <div><%= f.label :currency, id:"currency", required: false %>   <%= f.select :currency, ['USD', 'PLN', 'EUR', 'AUD']%></div>
          </div>


          <div class="col-xs-12"></div>
          <div class="form-group">
            <div class="col-xs-5 invoice_space"><label>Amount due:</label></div>
            <hr/>
            <div class="col-xs-7 invoice_space bold" style="text-align:right; padding-top:7px"><span class="due">0.00</span><span class="subtotal_currency"></span></div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 table-responsive">
        <hr>
        <table class="table table-hover" id="items">
      
          <thead>
              <th class="item-name">Item</th>
              <th class="description">Description</th>
              <th class="unit">Unit Cost</th>
              <th class="quantity">Quantity</th>
              <th class="units">Price</th>
              <th class="no_print">Actions</th>
          </thead>
      
          <tbody id="tbody">
            <tr class="item-row">
              <td><input class="form-control item_name" placeholder="Item name" /></td>
              <td><input class="form-control item_desc" placeholder="Item escription" /></td>
              <td><input class="form-control cost" value="0.00" /></td>
              <td><input id="qty" class="form-control qty" value="0" /></td>
              <td class="price_td"><span id="price" class="price">0.00</span><span class="subtotal_currency"></span></td>
              <td class="delete_td"><a onclick="deleteRows()" class="delete" href="javascript:;" title="Remove row"><span class="ti-close"></span></a></td>
            </tr>
          </tbody>
          <div id="hiderow">
          <td><a id="additem" class="button is-outlined is-primary" onClick="addRow()" title="Add a row">Add</a></td>
        </div>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-6">
        <div class="table-responsive">
          <table class="table table-hover" id="totals">
            <tr>
              <th style="width:50%">Subtotal:</th>
              <td><span id="subtotal">0.00</span><span class="subtotal_currency"></span></td>
            </tr>
            <tr>
              <th>Tax:</th>
              <td><input id="9" class="form-control" value="0.00" /></td>
            </tr>
            <tr>
              <th>Total:</th>
              <td class="balance"><span class="due" id="invoice_total">0.00</span><span class="subtotal_currency"></span></td>
              <%=f.hidden_field :amount, id: "invoice_total1" %>
            </tr>
          </table>
        </div>
      </div>  
    </div>

    <div class="containerTable">
        <a class="button is-outlined is-info" id="invoice_button" data-toggle="modal" data-target="#invoice_modal">Show Invoice</a>
        <%= f.button :submit, 'Save Invoice', class: 'button is-outlined is-primary', id: "submit_invoice" %>       
    </div>
    <br/>
    <br/>
    <div style="text-align:center">Terms</div>
    <hr>
    <div class="containerTable">
    <br/>
    <div style="width:100%"><textarea style="width:100%; font-size:10px;" id="terms", value=""></textarea></div>
    </div>  
  </div>
  <% end %>
</div>



<div class="modal fade" id="invoice_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width:920px">
      <div class="container-fluid invoice_wrapper" style="margin:10px" id="print-me">
        <%= render 'invoice' %>
      </div>
      <div class="modal-footer">
        <button class="button" onclick="printDiv('print-me')">Print</button>
      </div>
    </div>
  </div>
</div>


<script>
function dater() {
  let dateObj = new Date();
  let date =
    dateObj.getUTCMonth() +
    1 +
    "-" +
    dateObj.getUTCDate() +
    "-" +
    dateObj.getUTCFullYear();

  document.getElementById("date").innerText = "Date: " + date;
}
dater();

document.getElementById("qty").addEventListener("keyup", function() {
  calcPrice();
});


document.getElementById("terms").value = 'The fee is a fixed fee of 2% plus VAT and covers all work et out in the attached specification including any ancillary work or minor changes requested by us for the installation of a fully tested and functioning system that meets our reasonable requirements.';

</script>