
<div class="field is-grouped">
<%= link_to 'Export CSV', "invoices.csv", class:"navbar-item button is-primary", style:"margin-right:1%"%>
<%= link_to 'Export PDF', invoices_path(format: 'pdf'), class:"navbar-item button is-primary"%>
</div>
<h1 class="has-text-centered is-uppercase is-size-1-desktop">List of Invoices</h1>
<br/><br/>
<div class="containerTable">
<table class="table notification">
  <thead>
    <tr>
      <th>No.</th>
      <th>Company</th>
      <th>Client</th>
      <th>Currency</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Status</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
    </tr>
  </tfoot>
  <tbody>
  <% @invoices.each_with_index do |invoice, index| %>
    <tr>
      <td><%= index+1%></td>
      <td><%= invoice.company %></td>
      <td><%= invoice.client %></td>
      <td><%= invoice.currency %></td>
      <td><%= invoice.amount %></td>
      <td><%= invoice.date %></td>
      <td><%= link_to 'Show', invoice %></td>
      <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
      <td><%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      <td value="<%= invoice.status %>">
      <select>
        <option><%= invoice.status %></option>
        <%if invoice.status = "unpaid" %>
        <% @option = "paid" %>
        <option><%= @option%></option>
        <%else %>
        <% @option="unpaid" %>
        <option><%= @option %></option>
        <%end%>
      </select>
      </td>
    </tr>  
  </tbody>
  <% end %>
</table>
</div>