<p id="notice"><%= notice %></p>
<h1 class="has-text-centered is-uppercase is-size-1-desktop">Show Invoice</h1>
<br/><br/>
<div class="show">

<div class="field">
<strong>Amount:</strong> <%= @invoice.amount%>
</div>

<div class="field">
  <strong>Currency:</strong>
  <%= @invoice.currency %>
  </div>

  <div class="field">
  <strong>Currency:</strong>
  <%= @invoice.company %>
  </div>

  <div class="field">
  <strong>Currency:</strong>
  <%= @invoice.client %>
  </div>


  <div class="field">
  <strong>Currency:</strong>
  <%= @invoice.date %>
  </div>
  <br/>
  <span>
  <%= link_to 'Back', invoices_path, class:"button" %>
  <%= link_to 'Edit', edit_invoice_path(@invoice), class:"button"  %>
  </span>
</div>
